#ring-screen{
  width: 150px;
  height: 100px;
  margin: auto;
  background-color: green;
  border: 5px solid black;
  text-align: center;
  color: #fff;
}

h1,h3,h4{
  text-align: center;
}

#buttons{
  display: flex;
  justify-content: space-around;
}
#buttons button{
  all: unset;
  background-color: #000;
  color: #fff;
  border: 1px solid black;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 3px;
  border-radius: 10%;
}
#buttons button:hover{
  background-color: #fff;
  color: #000;
  transition-duration: 500ms;
  cursor: pointer;
}
